
// =========================
// =========================
// FONT COLORS
// =========================
// =========================
$baseFontColor: #0e0e0e;
$lightFontColor: lighten($baseFontColor, 10%);
$activeFontColor: #fff;


// =========================
// =========================
// PAGE COLORS
// =========================
// =========================
$basePageColor: #fff;


// =========================
// =========================
// UI COLORS
// =========================
// =========================
$baseUIColor: #263e5d;


$offsets: translateY(-50%) translateX(-50%);
